@import url('https://fonts.googleapis.com/css?family=Anton|PT+Sans');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Nothing+You+Could+Do');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import url('https://fonts.googleapis.com/css?family=Raleway');

    .left-align {
        margin-left:48px;
        margin-right:24px;
    }
    .cover {
        box-shadow: 10px 10px 5px #4d4d4d3f;
    }
    .cover-div {
        margin-top:24px;
        margin-right: 0px;
        padding:0px;
    }
    .date2 {
        text-align: center;
        color: rgb(153, 26, 56);
        font-weight: 800;
        font-size: 36px;
    }
    .date {
        margin-top:8px;
        margin-bottom:4px;
        text-align: center;
    }
    .date1 {
        margin-top:8px;
        margin-bottom:4px;
        text-align: right;
        margin-right:8px;
    }
    .date4 {
        margin-top:8px;
        margin-bottom:4px;
        margin-left: 24px;
        text-align: left;
    }
    .right-align {
        margin-left:24px;
        margin-right:48px;
    }
    .main-plug {
        font-family:  'Raleway', sans-serif;
        color:rgb(255, 255, 255);
        text-align: center;
        margin-bottom: 18px;
        margin-top: 8px;
        margin-right:8px;
        margin-left:8px;
    }

.banner-txt {
    text-align: center;
    color: rgb(153, 26, 56);
}
    .button-align {
    margin-top:36px;
    margin-bottom:36px;
    margin-right: 0px;
  }
  .btn-img {
    padding:0px;
    margin:0px;
    background:transparent;
  }

  .reg-btn-txt {
    padding-left:48px;
    padding-right:48px;
    font-weight: 300;
}
.train-banner {
    margin-top:10%;
    padding:24px;
}
