<div fxLayout="column" fxLayout.gt-sm="row">
    <!-- left column -->
    <div fxFlex fxFlex.gt-sm="50" class="cover-div">
      <div fxLayout="column" fxLayoutAlign="space-evenly stretch">
        <!-- cover image -->
        <div fxFlex="40">
          <div fxLayout="colum" fxLayout.gt-md="row" fxLayoutAlign="space-around stretch">
            <div fxFlex>
              <!-- <div fxLayout="column">
                <h1 class="mat-display-3 main-plug">Coming to Springfield</h1>
              </div> -->
              <div fxLayout="row" fxLayoutAlign="center center">
                <div fxFlex="90">
                  <div hide show.gt-sm flex>
                    <div fxLayoutAlign="center center" style="margin-bottom:48px">
                      <img src="/assets/images/flier.jpg" width="100%" class="cover" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- right column -->
    <div fxFlex fxFlex.gt-sm="50" style="margin-top:48px">
      <div fxLayout="column" fxLayoutAlign="space-evenly stretch">
        <div fxFlex>
          <div fxLayout="colum" fxLayout.gt-md="row" fxLayoutAlign="space-around stretch">
            <div fxFlex="90">
              <div fxLayout="column">
                <div fxLayout="column" fxLayout.gt-sm="row">
                  <div fxFlex>
                    <div fxLayoutAlign="center center" style="margin-bottom:48px">
                      <h1 class="mat-display-1 date">These life changing topics will give you new hope. They will renew your faith and give you greater confidence to face the future.</h1>
                    </div>                 
                      <div  fxLayoutAlign="center center" style="margin-bottom:12px">
                        <img src="/assets/images/date.svg" width="100%" />                 
                    </div>
                    <h1 class="mat-display-1 date" >Series continues Tuesdays through Mar. 26</h1>
                  </div>
                </div>
  
               
  
                <div fxLayout="column" fxLayout.gt-md="row" fxLayoutAlign='space-between center' style="margin-top:48px">
                  <div fxLayout="column">
                    <div fxHide fxShow.gt-mdfxFlex="50">
                      <h1 class="mat-display-1 date1"><strong>Living Hope Center</strong></h1>
                    <h1 class="mat-display-1 date1">5235 Merchants View Sq</h1>
                    <h1 class="mat-title date1">(located in the Giant Shopping Center</h1>
                    <h1 class="mat-title date1">behind Minnieland off Dominion Valley Blvd)</h1>
                    <h1 class="mat-display-1 date1">Haymarket, VA 20169</h1>
                    </div>
                    <div fxShow fxHide.gt-mdfxFlex="50">
                        <h1 class="mat-display-1 date"><strong>Living Hope Center</strong></h1>
                      <h1 class="mat-display-1 date">5235 Merchants View Sq</h1>
                      <h1 class="mat-display-1 date">Haymarket, VA 20169</h1>
                      <h1 class="mat-title date">(located in the Giant Shopping Center</h1>
                      <h1 class="mat-title date">behind Minnieland off Dominion Valley Blvd)</h1>
                      
                      </div>
                  </div>
                  <div fxLayout="column" >
                  <div fxFlex="50">
                    <div fxLayout='column' >
                      <img src="/assets/images/map.png" width="100%" />
                    </div>
                   
                    <!-- ************************************************
                      IMPORTANT IMPORTANT IMPORTANT IMPORTANT 
                    Be sure to update the location, date and time for the
                    SMS notification message in RegistrationController.cs
                    **********************************************************-->
  
                  </div>
                </div>
                </div>
  
                <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign='start center' style="margin-top:48px">
                  <div fxLayout="column" >
                    <div fxFlex="50">
                      <div fxLayout='column' >
                        <img src="/assets/images/speaker.png" width="100%" />
                      </div>
                    </div>
                  </div>
                 
                  <div fxLayout="column">
                    <div fxFlex="50">
                        <h1 class="mat-display-1 date4">Featuring Speaker</h1>
                      <h1 class="mat-display-1 date4"><strong>Chris Holland</strong></h1>
                    </div>
                  </div>
                </div>
  
                <div fxFlex>
                <div fxLayout="row" fxLayoutAlign="end center" class="button-align">
                  
                    <button mat-button class="btn-img" routerLink='register'>
                      <img src="/assets/images/button.png" width="100%" />
                    </button>
                  </div>
                </div>
  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
